<!DOCTYPE html>
<html lang="fr">

<head>
   <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block template-css %}{%endblock%}
   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->

   <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header>{% block header %}Mon blog sur les crêpes bretonnes{% endblock %}</header>

   <section id="content">
       {% block content %}{% endblock %}
   </section>
   <nav>
      {% block nav %}
      <ul>
           <li><a href="{% url 'accueil' %}">Accueil</a></li>
           <li><a href="{% url 'home' %}">Blog</a></li>
           <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      {% endblock %}
  </nav>
<footer>&copy; Crêpes bretonnes by R1 modafucka</footer>


</body>
</html>
