{% extends "blog/base.html"%}

{% block css%}<link href="/static/bootstrap/css/3-col.css" rel="stylesheet">{% endblock %}

{% block title %}Accueil{% endblock %}

{% block header %}<h1>Bienvenue sur le blog des crêpes bretonnes !</h1>{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% for article in derniers_articles %}
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
      <div class="portfolio-item">
    	   <h3>{{ article.titre }}</h3>
          <p><img src="/static/DSC_0005-1.jpg" alt="une photo de terrasse"/></p> <!--TODO : trouver la bone dimension de photo pour qu'elles ne se touchent pas d'un article à un autre-->
    	    <p>{{ article.ingredients|truncatewords_html:10 }}</p>
          <p>{{ article.preparation|truncatewords_html:50}}</p>
          <p><a href="{% url 'lire' id=article.id %}">Lire la suite</a>
      </div>
    </div>
    {% empty %}
        <p>Aucun article.</p>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block navbar %}Des Crêpes !{% endblock %}
