{% extends "blog/base.html"%}
{% block css%}<link href="/static/bootstrap/css/3-col.css" rel="stylesheet">{% endblock %}

{% block title %}Les crêpes sucrées{% endblock %}

{% block content%}
<div class="container">
  <div class="row">
    {% for article in crepes_sucrees %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4x">
      <div class="article">
    	   <h3>{{ article.titre }}</h3>
    	    <p>{{ article.ingredients|truncatewords_html:10 }}</p>
          <p>{{ article.preparation|truncatewords_html:50}}</p>
          <p><a href="{% url 'lire' id=article.id %}">Lire la suite</a>
      </div>
    </div>
    {% empty %}
        <p>Aucun article.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
